*
{
	margin: 0;
	padding: 0;
}

.exit
{
	text-decoration: none;
	color: #ffffff;
			
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1.5em;
				
	right: 30px;
	top: 20px;
	position: absolute;
}
.exit:hover
{
	color: #ff0000;
}

html, body, form
{
	width: 100%;
	height: 100%;
    margin: 0;
}
		
/*--------------------------------*/
.button {
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 70px;  
    font-family: arial,sans-serif;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    /*padding: .2em 1.2em;*/
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    padding: 8px 15px;
    text-align: center;
    margin: 0 5px;
}

.button:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  cursor: pointer
}

.button:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.tcal, .cam, .time
{
    height: 20px;
    width: 150px;

}

.btn a
{
    float: right;
}

.btn p
{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: arial,sans-serif;
    color: white;
}

.btn div
{
    padding: 8px 20px 0 0;
    border-top: 2px solid #5D5D5D;
}

.btn p:nth-of-type(2n+1)
{
    background: #5D5D5D;
    padding: 8px 55px;
}

.btn p:nth-of-type(2n)
{
    text-align: center;
    padding: 15px 55px;
}

/*----------------------------*/
.wrapper {height: 100%; }
.btn {height: 310px; left: 0; position: fixed; top: 0; width: 440px; }
.table-wrapper {box-sizing: border-box; float: left; height: 100%; padding-top: 310px; width: 440px; }
.table-overflow {border: 1px solid rgb(204,204,204); box-sizing: border-box; border-collapse: collapse; display: block; height: 100%; padding-top: 30px; position: relative; width: 100%;}
.table-overflow td,
.table-overflow th { box-sizing: border-box;}
.table-overflow thead {font-family: arial,sans-serif; font-size: 14px; background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224)); box-sizing: border-box; display: block; left: 0; height: 30px; padding-right: 1px; position: absolute; top: 0; width: 100%;}
.table-overflow thead th {display: table-cell; height: 30px;}
.table-overflow tbody {display: block; height: 100%; overflow: auto; padding-right: 1px;}
.table-overflow thead tr, 
.table-overflow tbody tr {display: table; width: 100%;}
.table-overflow tbody tr:hover {cursor: pointer; background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);}
.table-overflow tbody td {display: table-cell; text-align: center; height: 30px;}
.another-wrapper { height: 100%; overflow: auto; background: #303030;}

.table-overflow thead th:nth-child(1), .table-overflow tbody td:nth-child(1) { width: 70px; }
.table-overflow thead th:nth-child(2), .table-overflow tbody td:nth-child(2) { width: 170px; }